[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
zappa = "*"
"boto3" = "*"
troposphere = "*"

[packages]
flask = "*"
flask-api = "*"

[requires]
python_version = "3.6"
